.api-edit{
    visibility: hidden;
}

tr:hover td div.api-edit{
    visibility: visible;
}

hr{
    border-width: 6px !important;
}

tbody tr td:first-child{
    width: 200px;
}

.api-tables{
    margin: 10px;
}
